


body {
    margin: 0;
    color: #F6E7E7;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    background: rgb(37, 36, 36);
}

#hero {
    background-image: url("images/galaxy.webp");
    background-size: cover;
    padding: 10px 0 40px 0;
    border-bottom: 3px double silver;
}
#caption {
    margin-top: 60px;

}

#main-logo {
    width: 100px;
    border: 4px solid silver;
    background: silver;
    border-radius: 6px;
}

#title {
    text-shadow: 0px 0px 4px black;
}

.btn {
    padding: 6px 12px;
    background: silver;
    border: none;
    font-family: 'Orbitron', sans-serif;
    color: silver;
    font-weight: 800;
    border: 3px solid  silver;
    border-radius: 5px;
}
.btn:hover{
    background: #F6E7E7;

}

a{
    text-decoration: none;
    color: rgb(37, 36, 36);
}

.underline {
    border-bottom: 4px solid white;
    border-top: 4px solid white;
}

.content {
    text-align: justify;
    padding: 0 80px 100px 80px;
    font-size: larger;
    text-shadow: 0 0 5 black;
    line-height: 2;

}
   
.images {
    text-align:center;
    display:block;
    margin: 50px auto;
    width: 80%;
    border: 5px solid silver;
    border-radius: 20px;

}

#appreciation{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}


@media (max-width: 900px){

    .content {
        text-align: justify;
        padding: 0 3% 100px 3%;
        font-size:medium;

}
}