











body{

    background-color: rgb(14, 13, 13);

    text-align:center;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
    width: 100%;
    height: 100vh;
    margin: 0%;
    box-sizing: border-box;
    
   
}




.screen{
    height: 65%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    z-index: 3;
    margin-bottom: 18%;
   
    
}


.link-truck1 {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 51%;
    top: 7%;
    background: white;
    z-index: 6;
    opacity: 0.0001;
   
}




main{
    background-color: ghostwhite;
    box-sizing: border-box;
    height: 100%;
    width: 700px;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    border: 5px solid black;
    margin:auto;
    border-radius: 10px;
   

}
main img{
    width: 100%;
  

}

.content {
    height:fit-content;
    width: 97%;
    border-top-right-radius:50px ;
    box-sizing: border-box;
    background-color: #55cf4b;
    margin: auto;
    color: ghostwhite;
    padding-top: 20px;
}

.text{
    margin: 4% 0% 1%;
    font-weight: bold;
    line-height: 1.5;
    font-size: larger;
    padding: 1%;
}



button{
    
    width: 20%;
    padding: 0px;

    border-radius: 10px;
    font-weight:bold;
    color: #55cf4b;
    border: none;
    background-color: ghostwhite;
    margin-bottom: 3%;

}

button:hover{
    color: ghostwhite;
    background-color: #3ce4cf;
}

@media (max-width: 700px){

main{
    width: 100%;

}
button{
    font-weight:bold;
    font-size: smaller;

}
}

@media (max-height: 630px){

    main{
        overflow-x: scroll;
        height: fit-content;
    
    }
    .content {
        height: fit-content;

    }
}